# Database Configuration (H2)
DB_URL=jdbc:h2:mem:event_db
DB_USERNAME=sa
DB_PASSWORD=

# Keycloak Configuration
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=smartek-realm
KEYCLOAK_RESOURCE=event-service

# Eureka Configuration
EUREKA_SERVER_URL=http://localhost:8761/eureka/

# Server Configuration
SERVER_PORT=8084
